

<!-- Wallet Connection Modal -->
<div class="modal fade" id="walletModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content soft-card border-0">
            <div class="modal-header border-bottom border-secondary">
                <h5 class="modal-title">Connect Wallet</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body text-center py-4">
                <p>We support only Phantom wallet for now.</p>
                <button class="btn btn-primary w-100 mb-2" onclick="connectPhantom()">
                    Phantom
                </button>
        <!--        <button class="btn btn-outline-light w-100" onclick="connectSolflare()">
                    Solflare
                </button>-->
            </div>
        </div>
    </div>
</div>
